body {
    background-image: url('images/world.jpg'); /* Assurez-vous que le chemin est correct */
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.navbar {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.charlystore-text {
    font-family: "Jazz LET", fantasy;
    font-size: 24px;
}

.rounded-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: none;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-dark {
    background-color: #343a40;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-dark:hover {
    background-color: #23272b;
}

.btn-outline-dark {
    background-color: transparent;
    border: 1px solid #343a40;
    color: #343a40;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-outline-dark:hover {
    background-color: #343a40;
    color: white;
}

.error-message {
    color: rgb(0, 83, 250);
    margin-top: 10px;
}