
@{
    ViewData["Title"] = "Contact";
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    address {
        margin-bottom: 20px;
    }

    strong {
        font-weight: bold;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>


<h1>Contact</h1>

<h3>Contacter nous pour tout aide et renseignement</h3>

<address>
    123 Abj Street<br />
    Ottawa, WA 92345-9876<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> CharlyStore@example.com</a>
    <strong>Instagram:</strong> CharlyStore</a>
</address>

