@{
    ViewData["Title"] = "Politiques et confidentialité";
}


<style>
    .container-privacy {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
         font-family: 'Courier New', Courier, monospace;
    }

    h1 {
        font-size: 32px;
        color: White;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 24px;
        color: #333;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
        

        h1 {
            font-size: 28px;
        }

        h2 {
            font-size: 22px;
        }

        p {
            font-size: 14px;
        }
    }
</style>

<div class="container-privacy">
    <h1>@ViewData["Title"]</h1>

    <p>Votre vie privée est très importante pour nous. En conséquence, nous avons développé cette politique afin que vous compreniez comment nous recueillons, utilisons, communiquons, divulguons et utilisons autrement vos informations personnelles. Nous avons décrit notre politique de confidentialité ci-dessous.</p>

    <h2>Collecte et utilisation des informations personnelles</h2>
    <p>Nous ne collectons des informations personnelles que dans la mesure nécessaire pour fournir nos services. Les informations personnelles que nous collectons dépendent du contexte de vos interactions avec nous et des choix que vous faites, des produits et fonctionnalités que vous utilisez et des services que vous achetez.</p>

    <h2>Partage de vos informations personnelles</h2>
    <p>Nous ne vendons ni ne louons vos informations personnelles à des tiers.</p>

    <h2>Conservation de vos informations personnelles</h2>
    <p>Nous conserverons vos informations personnelles aussi longtemps que nécessaire pour les finalités décrites dans la présente politique de confidentialité, sauf si la loi l'exige ou le permet.</p>

    <h2>Protection de vos informations personnelles</h2>
    <p>Nous prenons des mesures de sécurité pour protéger vos informations personnelles contre la perte, le vol, l'accès non autorisé, la divulgation, la copie, l'utilisation ou la modification non autorisée.</p>

    <h2>Accès et contrôle de vos informations personnelles</h2>
    <p>Vous avez le droit d'accéder à vos informations personnelles que nous détenons sur vous et de demander que vos informations personnelles soient corrigées, mises à jour ou supprimées. Vous pouvez également vous opposer à notre traitement de vos informations personnelles ou nous demander de limiter le traitement de vos informations personnelles.</p>

   

</div> <br /><br />
